*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color: azure;
  padding: 10px;
}
h2{
  position: relative;
  margin-top: 60px;
}

.slide{
  max-width:45%;
  max-height: 100%;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(254, 255, 255);
  position: absolute;
  transition: 0.4s;
  transform: translateX(-450px);
  text-align: center;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0px 0px 10px #5c5c5d;
    margin: 1px;
    position: fixed;
    z-index: 1;
}

.slide ul{
list-style: none;
line-height: 40px;
padding-top: 20px;
}

.slide ul li{
  border-bottom: 3px solid #000;
}

.slide ul a{
text-decoration: none;
font-size: 22px;
color: rgb(0, 0, 0);
}

.slide ul li:hover{
background-color: rgb(107, 104, 99);
width: 100%;
color: #000;
}

.slide ul li a:hover{
  color: #000;
}

.checkbox{
  display: none;
  visibility: visible;
}

.toggle{
  position: fixed;
  left:1%;
  top:22px;
  height: 9%;
  width: 50px;
}

.toggle:hover{
cursor: pointer;
}

.toggle .common{
  position: absolute;
  background-color: rgb(94, 9, 9);
  border-radius: 50px;
  height: 8px;
  width:38px;
  z-index: 1;
}

.toggle .top-line{
  top:30%;
  left:20%;
}

.toggle .middle-line{
top:50%;
left:20%;
}

.toggle .bottom-line{
top:7%;
left:20%;
}

input:checked ~.slide{
transform: translateX(0);
}


.body{
  display: grid;
}


/* INTRODUCTION */

.main-layout{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:14px;
  margin-top:100px;
  height: auto;
}

.autoshow{
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 6% cover 100vh;
}

@keyframes text-appear{
  from{
    opacity: 0;
    transform: translateY(200px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}


.main-layout img{
  max-width:50%;
  border-radius: 50%;
}

.intro p{
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
}

small{
  font-size: 35px;
  font-family: cursive;
  color: grey;
}

.contact-logos{
  display: flex;
}

.contact-logos img{
max-width: 60px;
height: auto;
}

h1{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 55px;
  letter-spacing: 12px;
  margin-top: 50px;
}


.about{
  margin-top: 80px;
}

.about-layout{
  display: block;
  gap:20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  margin: 0 auto;
}

.about-layout img{
  max-width:50%;
  border-radius: 50%;
}

.about-intro{
  width: 70%;
  height: auto;
  font-size: 18px;
  line-height: 28px;
  padding: 10px;
  text-align: center;
  margin-left: 15%;
}

.skills{
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: grid;
}

.skills-layout{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}


.project-images img{
  width: 50%;
  padding: 10px 10px;
  margin: 10px 100px;
}

.frameworks{
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  display: flex;
  gap:50px;
  transition: 0.4s ease-in-out;
}


.html{
   max-width:45%;
  height:auto;
  box-shadow: 0px 0px 10px #857e7e;
  justify-content: center;
  text-align: center;
  padding: 10px;
  letter-spacing: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: orangered;
  transform: rotateZ(-25deg);
}
.css{
  max-width:30%;
  height:auto;
  box-shadow: 0px 0px 10px #857e7e;
  justify-content: center;
  text-align: center;
  padding: 10px;
  padding-top: 0;
  letter-spacing: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: orangered;
  transform: rotateZ(25deg);
}

/* CONTACT US */
.contact-box{
  width: 110%;
  height: auto;
  margin-top: 40px;
  justify-content: center;
  padding-bottom: 50px;
}

.contact{
  margin:0 auto;
  margin-top: 60px;
  width:80%;
  height: 95%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(188, 185, 185);
}

.contact-content{
  padding: 40px;
}

.contact-content button{
  display: flex;
  margin-left: 35%;
}

.contact-content button:active{
background-color: #cecbcb;
color: #100d0d;
}

.contact p{
  margin: 6px;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
}

::placeholder{
  font-size: 16px;
}

.contact input{
  padding: 10px;
  width:90%;
  height: 40%;
  margin: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px 10px rgb(220, 219, 219);
  outline: none;
}

textarea{
  width:90%;
  height:150%;
  margin:10px;
    border-radius: 2px;
     border: none;
  box-shadow: 0px 5px 10px rgb(220, 219, 219);
  outline: none;
  align-items: center;
  padding: 15px;
}

button{
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border-width: 0.5px;
  background-color: #fff;
  transition: 0.4s ease-in-out;
}

button:hover{
  background-color: #5c5c5d;
  color:#fff;
}

@media only screen and (max-width:600px){
  .body{
    padding: 10px;
  }

  .skills{
    display: grid;
  }

  .skills-layout{
    justify-content: center;
    align-items: center;
  }
} 
